@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Pathway+Gothic+One&family=Roboto:wght@100;300;400&display=swap');
.container{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 23px 10px 24px 0;
    background: #212121;
    flex: 1;
    height: 93vh;
    overflow: scroll;
    /* border: 1px solid gray; */
}


.linkWrap{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    cursor: pointer;
    padding-left: 35px;
    text-decoration: none;
}

.link{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 38px;
    text-decoration: none;
}
.border{
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: .5;
    margin-bottom: 15px;
}

.border1{
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: .5;
    margin-bottom: 15px;
    /* margin-top: 15px; */
}

.title{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 16px;
    margin: 12px 0 0 24px;
    margin-bottom: 20px;
}

.subscribed{
    padding-left: 30px;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.account_logo{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #000000;
}

.account_name{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
}

.more_wrap{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    cursor: pointer;
    padding-left: 35px;
    text-decoration: none;
}